/* line 1, ../sass/parallax.scss */
.debug-on .parallax__group {
  -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

/* line 6, ../sass/parallax.scss */
.debug-on .parallax__layer {
  box-shadow: 0 0 0 2px #000;
  opacity: 0.9;
}

/* line 11, ../sass/parallax.scss */
.parallax {
  height: 100vh;
  max-height: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 700px) {
  /* line 11, ../sass/parallax.scss */
  .parallax {
    overflow-x: auto;
  }
}

/* line 31, ../sass/parallax.scss */
.parallax__group {
  position: relative;
  height: 100vh;
  min-width: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 39, ../sass/parallax.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
}

/* line 49, ../sass/parallax.scss */
.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 50;
  background: url("../img/burbujas3.png") 50% 50% repeat;
  pointer-events: none;
}

/* line 64, ../sass/parallax.scss */
.parallax__layer--fore2 {
  -webkit-transform: translateZ(180px) scale(0.4);
  transform: translateZ(180px) scale(0.4);
  z-index: 100;
  background: url("../img/burbujas2.png") 50% 50% repeat;
  pointer-events: none;
}

/* line 77, ../sass/parallax.scss */
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background: url("../img/burbujas4.png") 50% 50% repeat;
}

/* line 86, ../sass/parallax.scss */
.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background: url("../img/burbujas5.png") 50% 50% repeat;
}

/* line 95, ../sass/parallax.scss */
.parallax__layer--deep {
  -webkit-transform: translateZ(-2000px) scale(7.66);
  transform: translateZ(-2000px) scale(7.66);
  z-index: 2;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background: white url("../img/degradado.svg") 50% 50% repeat;
}
